<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>Hi!</title>
</head>
<body>
    
<h1>Hello from Render</h1>
{% if name %}
<h2>and hello to {{name}}</h2>
{% endif %}

<form action="guestbook" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <label for="message">Message:</label>
    <input type="text" id="message" name="message">
    <input type="submit" value="submit">
</form>
<div id="guestbook">
    <h1>Guestbook</h1>
    {% for item in writings %}
        <p>{{ item["name"] }} says {{ item["message"] }}</p>
    {% endfor %}
</div>
</body>
</html>